.swiper-button-prev-parent-div {
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: 1;
}

.swiper-button-prev-div {
  border: 2px solid #ff3811;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff3811;
  position: absolute;
  left: -25px;
  top: calc(50% - 14px);
  z-index: 2;
  font-size: 40px;
  cursor: pointer;
}

.swiper-button-next-parent-div {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: 1;
}

.swiper-button-next-div {
  background-color: #ff3811;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  right: -25px;
  top: calc(50% - 14px);
  z-index: 2;
  font-size: 40px;
  cursor: pointer;
}
@media (max-width: 991px) {
  .swiper-button-prev-parent-div,
  .swiper-button-next-parent-div {
    display: none;
  }
}
.swiper-button-prev-div::after {
  content: none;
}
.swiper-button-next-div::after {
  content: none;
}
@media (max-width: 768px) {
  .swiper-button-prev-parent-div,
  .swiper-button-next-parent-div {
    display: none;
  }
}
@media (min-width: 768px) {
  .swiper-button-prev-parent-div,
  .swiper-button-next-parent-div {
    display: block;
  }
  .swiper-button-prev-parent-div,
  .swiper-button-next-parent-div {
    top: 71%;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .swiper-button-prev-div {
    position: absolute;
    left: 39px;
    top: calc(50% - 14px);
    z-index: 2;
    cursor: pointer;
  }
  .swiper-button-next-div {
    position: absolute;
    right: 39px;
    top: calc(50% - 14px);
    z-index: 2;
    cursor: pointer;
  }
}
@media (min-width: 1024px) and (max-width: 1535px) {
  .swiper-button-prev-div {
    position: absolute;
    left: 24px;
    top: calc(50% - 14px);
    z-index: 2;
    cursor: pointer;
  }
  .swiper-button-next-div {
    position: absolute;
    right: 23px;
    top: calc(50% - 14px);
    z-index: 2;
    cursor: pointer;
  }
}
