.swiper-button-prev-container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: 1;
}

.swiper-button-prev {
  border: 2px solid #ff3811;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff3811;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}
.swiper-button-next-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: 1;
}

.swiper-button-next {
  background-color: #ff3811;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  right: -27.5px;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}
.swiper-button-prev::after {
  content: none;
}
.swiper-button-next::after {
  content: none;
}
@media (max-width: 991px) {
  .swiper-button-prev-container,
  .swiper-button-next-container {
    display: none;
  }
}

.swiper-button-prev::after {
  content: none;
}
.swiper-button-next::after {
  content: none;
}
@media (max-width: 767px) {
  .swiper-button-prev-container,
  .swiper-button-next-container {
    display: none;
  }
}
@media (min-width: 768px) {
  .swiper-button-prev-container,
  .swiper-button-next-container {
    display: block;
  }
  .swiper-button-prev-container,
  .swiper-button-next-container {
    top: 71%;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .swiper-button-prev {
    position: absolute;
    left: 39px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
  }
  .swiper-button-next {
    position: absolute;
    right: 39px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
  }
}
@media (min-width: 1024px) and (max-width: 1535px) {
  .swiper-button-prev {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
  }
  .swiper-button-next {
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
  }
}
